.siteintrodiv {
    background-image: linear-gradient(
        rgba(40,181,244, 0.5),
        rgba(40,181,244, 0.5)
      ),
    url("quickunsplash.jpeg");
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: 3;
    margin-top: -65px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding-bottom: 70px;
    margin-bottom: -70px;
    box-shadow: 0px 10px 30px grey;
}

.singlecontainer{
    padding-top: 100px;
}

.navbaritems > a{
    color: inherit; 
    text-decoration: underline; 
    text-transform:uppercase; 
    font-size:14px; 
    font-weight:600
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.owl-carousel{
    text-align: center
}

.owl-carousel .item{
    text-align: center;
}

.owl-carousel .item img {
    width: 75%;
    max-width:250px;
    height: auto;
    max-height: 250px;
    overflow: hidden;
    background: red;
    position: relative;
}

.seemorediv{
    color: #fff;
}

.backcross{
    position: relative;
    width: 60%;
}

@media only screen and (max-width: 990px) {
    .homecarousel{
        min-height: 1000px;
    }
    .maincontainer{
        max-width: 900px;
        min-width: 0px;
    }
    .homecarouselitem{
        padding-left: 0; padding-right: 0;
    }

}

@media only screen and (max-width: 600px){
    .homecarousel{
        min-height: 850px;
    }
}

@media only screen and (min-width: 990px) {
    .maincontainer{
        width: 70% !important;
        min-width: 950px;
    }
    .homecarousel{
        height: 695px !important;
    }
    .homecarouselitem{
        padding-left: 60px; padding-right: 60px;
    }
}

.clientitem  img{
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .4s ease-out, box-shadow .6s ease-out;
}

.clientitem:hover img{
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -o-transform:scale(1.03);
    -o-transform:scale(1.03);
    box-shadow: 10px 10px 10px lightgrey;

 }
 

@media only screen and (max-width: 500px) {
    #pagetitle {
        font-size: 42px;
    }
}
  
.imagewrapover{
    background: #00bcd4;
    position: absolute;
    opacity: 0.4;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.homecarousel {
    z-index: 1;
}

.homecarouselitem{
    padding-top: 60px;
}

.iconwrap{
    text-align: center;
    font-size: 70px;
}
.seemorediv{
    background-image: url("https://pbs.twimg.com/profile_banners/300980950/1464886292/1500x500");
}
.appnav {
    background-color: rgba(255,255,255, 0.8) !important;
}
.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'Material Icons';
    font-size: 4rem;
}

.owl-nav {height:0;margin:0;}

.owl-carousel .owl-nav .owl-prev:before{
    content: "\E5CB";
    margin-left:16px;
    position: absolute;
	  top: 40%;
    left: 0px;
    height: auto;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1),
                 0px 0px 8px rgba(0,0,0,0.05),
                 0px 0px 12px rgba(0,0,0,0.05);
}
.owl-carousel .owl-nav .owl-next:after{
    content: "\E5CC";
    margin-right: 16px;
    position: absolute;
	  top: 40%;
    right: 0px;
    height: 100%;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1),
                 0px 0px 8px rgba(0,0,0,0.05),
                 0px 0px 12px rgba(0,0,0,0.05);
}


#introdivinside{
    position: relative;
    top: 20%;
    left: 20%;
    height: 30px;
}

.featureboxicon>i{
    font-size: 4.5em;
}
.featureboxicon{
    text-align: center;

}
.featurestitle{
    font-size:20px;
    font-weight: 600;
    
    text-align: center;
}
.featuresdescription{
    color: grey;
}
.transparent{
    background-color: rgba(0,0,0,0) !important;
    box-shadow: none;
    transition-property: background-color, box-shadow;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.navgrey{
    background: #ffffff;
}
