<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "singleintro.html" . }}

        <div id="content" style="padding-top: 0px; overflow: hidden">
            <div class="container singlecontainer">
                <div class="row">
                    <div class="col-md-9" id="blog-post">
                        <style> 
                            #post-content > h1{
                                font-size: 45px;
                                font-weight: 450;
                            }
                            #post-content>h2{
                                font-size:28px;
                                font-weight: 650;
                                letter-spacing: 1px;
                                text-transform: uppercase;

                            }
                            #post-content>p>strong{
                                font-weight: 600;
                            }
                            #post-content>ul{
                                display: block;
                                list-style-type: disc;
                                margin-block-start: 1em;
                                margin-block-end: 1em;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                                padding-inline-start: 40px;
                            }
                            #post-content>ul>li{
                                list-style-type: disc;
                            }
                            #post-content>ul>li>ul{
                                display: block;
                                margin-block-start: 1em;
                                margin-block-end: 1em;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                                padding-inline-start: 40px;
                                list-style-type: circle;
                            }
                            #post-content>ul>li>ul>li{
                                list-style-type: circle;
                            }
                        </style>

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->
  </body>
</html>
