{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<div class="carousel carousel-slider center homecarousel">
    <span></span>
    {{ range .Site.Data.carousel }}
    <div class="carousel-item orange white-text homecarouselitem" href="#one!">
        <div class="container maincontainer" style="">
            <div class="row" style="margin-top: 50px; " style="line-height: 50px !important">

                <div class="col s12 l5" style=" text-transform: uppercase; font-size: 17px; letter-spacing: 2px;font-weight: 550; text-align: left; padding-bottom: 20px;">
                    <h1 style="font-weight: 450; font-size: 44px; margin-bottom: 0px; text-transform: uppercase;  letter-spacing: 4px; margin-top: 0px; line-height: 50px !important;">{{ .title }}</h1>
                    <p style=" text-transform: uppercase; font-size: 17px; letter-spacing: 2px;margin-bottom: 0px; font-weight: 550; text-align: left; padding-bottom: 5px;">
                        {{ .description  }}
                    </p>
                </div>
                <div class="col s12 l7" style="margin-top: 0; padding-left:5px;">
                        <img style="width: 100%" src="{{ .image }}" alt="">
                </div>
            </div>

        </div>
    </div>
    
    {{ end }}
</div>
{{ end }}
{{ end }}
{{ end }}


