{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<div class="container" style="padding-bottom:50px; padding-top: 10px;">
    <div class="" style="text-align: center; margin-bottom: 30px;">
        <h4 style="font-weight:500">{{ .Site.Params.clients.title }}</h4>
    </div>
    <div class="owl-carousel owl-theme">
            {{ range .Site.Data.clients }}
            <div class="item clientitem" style="text-align: center;">
                {{ if .url }}
                    <a href="{{ .url }}" target="_blank">
                    <img src="{{ .image }}" alt="{{ .name }}" class="responsive-img" />
                    </a>
                {{ else }}
                    <img src="{{ .image }}" alt="{{ .name }}" class="responsive-img" />
                {{ end }}
                <p style="font-weight: 500">{{ .name }}</p>
                </div>
            {{ end }}
        </div>
    
</div>

<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:false,
            responsive:{
                300:{
                    items:2
                },
                730: {
                    items: 3
                },
                1000:{
                    items:5
                }
            },
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true              
        })    
        
    });
</script>
{{ end }}
{{ end }}
{{ end }}
