{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<div class="featurebox">
    <div class="container">
        <div class="row" style="margin-top: 50px; margin-bottom: 0"> 
            {{ range .Site.Data.features }}
            <div class="col s12 m6 l4" style="height: 200px; margin-bottom: 60px;">
                <div class="featureboxel">
                    <div class="featureboxicon">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3 class="featurestitle">{{ .name }}</h3>
                    <p class="featuresdescription">{{ .description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

</div>

{{ end }}
{{ end }}
{{ end }}