<footer class="page-footer grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    {{ if isset .Site.Params "about_us" }}
                            <h4 style="text-transform: uppercase;font-size: 18px; font-weight: 500; letter-spacing: 2px; margin-top: 10px;">About us</h4>
                        {{ .Site.Params.about_us | safeHTML }}
                    {{ end }}                
                </div>
            </div>
            </div>
        <div class="footer-copyright grey darken-3">
            <div class="container">
                {{ if isset .Site.Params "copyright" }}
                <p class="pull-left">{{ replace .Site.Params.copyright "{year}" .Now.Year | safeHTML}}  </p>
                {{ end }}
            </div>
        </div>
    </footer>


<script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true,
            });
        });
                
</script>

