
<div class="navbar-fixed">
    <nav class="appnav navgrey transparent" style="height: 60px;">
      <div class="nav-wrapper">
        <a href="{{.Site.BaseURL}}" class="brand-logo" style="padding: 5px;">
            <svg id="logosvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 576 144" style="margin-top: -5px; height:60px; enable-background:new 0 0 576 144;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#FFFFFF;}
                    .st1{fill:#FFFFFF;}
                </style>
                <g>
                    <g>
                        <path class="st0" d="M180.5,92.3h-34.8V32h5.9v55.2h28.9V92.3z"/>
                        <path class="st0" d="M192.5,38.3h-6.1V32h6.1V38.3z M192.2,92.3h-5.3V47.7h5.3V92.3z"/>
                        <path class="st0" d="M199.7,92.3V32h5.3v23.5c3.7-6.3,8-9,14.3-9c10.8,0,17.8,9.2,17.8,23.2c0,14.4-7.3,23.9-18.4,23.9    c-6.3,0-10.6-2.4-14.3-7.9l-2.1,6.6H199.7z M205,72.1c0,4.6,0.7,7.9,2.4,10.7c2.4,4,6.2,6.3,10.5,6.3c8.1,0,13.6-7.7,13.6-19.1    c0-11.7-5.1-19.1-13-19.1c-7.9,0-13.4,7.4-13.4,17.9V72.1z"/>
                        <path class="st0" d="M264.7,51.1c-1.4-0.2-2.2-0.3-3.2-0.3c-4,0-7.2,1.8-9.6,5.3c-2.1,3.3-3.4,7.7-3.4,11.8v24.3h-5.3V47.7h4.8V58    c2.8-8.2,6.8-11.6,13.6-11.6c1.3,0,1.9,0.1,3.2,0.4V51.1z"/>
                        <path class="st0" d="M270.2,70.1c0,11.7,5.8,19,15.1,19c6.2,0,11-3.5,13-9.8l5,1.3c-2.3,8-9.4,12.9-18.2,12.9    c-12.5,0-20.6-9.2-20.6-23.1c0-14.3,8.4-24,20.9-24c7.1,0,12.7,3.4,16,9.7c2,3.9,2.6,7.1,2.7,14H270.2z M298.3,65.9    c-0.8-9.9-5.3-15-13.1-15c-4.5,0-8.7,2.1-11.4,5.7c-1.9,2.5-2.7,4.7-3.4,9.3H298.3z"/>
                        <path class="st0" d="M361.2,92.3h-13.8V67.4h-18.9v24.9h-13.8V32h13.8v23.5h18.9V32h13.8V92.3z"/>
                        <path class="st0" d="M379.6,72.2c-0.1,0.7-0.1,1.7-0.1,2.1c0,5.8,3.4,9.6,8.6,9.6c4.3,0,7.1-2.4,8-7l11.9,0.8    c-1.5,4.7-2.7,6.8-5.2,9.4c-3.9,4.2-8.7,6.1-15.2,6.1c-13.2,0-22-9.1-22-22.8c0-13.9,8.8-23.6,21.5-23.6c7.4,0,14.1,3.6,17.4,9.4    c2.6,4.4,3.5,8.1,3.6,16H379.6z M395.3,64.5c-0.5-6.4-2.7-9.1-7.5-9.1c-5,0-7.6,2.9-8.2,9.1H395.3z"/>
                        <path class="st0" d="M440.4,92.3c-0.5-2.9-0.6-3.4-0.6-5.8c0-0.1,0-0.6,0.1-1.2c-4.3,5.9-7.9,7.9-14.3,7.9c-8.5,0-14-4.9-14-12.5    c0-6.3,3.5-11,9.9-13.5c3.5-1.3,7.7-2,17.7-2.8v-2.5c0-4.3-2.2-6.5-6.6-6.5c-4.3,0-7.1,2.3-7.6,6.5l-12.1-1.2    c0.9-4.8,2.3-7.2,5.1-9.4c3.9-3,9.4-4.5,15.9-4.5c7.2,0,13.1,2.1,16,5.6c1.9,2.4,2.4,4.8,2.4,11.4v20.2c0,5.3,0,5.3,0.8,8.3H440.4    z M439.2,70.9c-4.1,0.5-5.7,0.7-8,1.5c-3.9,1.3-5.9,3.5-5.9,6.8c0,3.3,2.3,5.7,5.6,5.7c4.7,0,8.2-4.3,8.2-9.9V70.9z"/>
                        <path class="st0" d="M458.7,32h13.1v60.3h-13.1V32z"/>
                        <path class="st0" d="M496.5,76.7c0,5.1,1,6,6.1,6c1.3,0,2.2,0,4.2-0.2v9.8c-5.8,0.9-6.2,1-8.4,1c-10.9,0-15-3.9-15-14.6V57.9h-7.1    V47.7h7.8l1.1-13.2l11.3-0.9v14.1h9.6v10.2h-9.6V76.7z"/>
                        <path class="st0" d="M525.8,53.8c2.3-4.5,6.6-7,12.2-7c4.2,0,8,1.6,10.4,4.3c2.3,2.5,3,5.4,3,11.7v29.5h-13.1V67.1    c0-5.5-0.3-7-1.4-8.4c-0.9-1.1-2.2-1.6-3.7-1.6c-2.3,0-4.8,1.4-6,3.3c-1,1.6-1.4,3.3-1.4,6.7v25.1H513V32h12.7V53.8z"/>
                    </g>
                    <path class="st0" d="M115.3,24.5v71.1c0,3.5-2.6,7.9-5.6,9.7l-34.1,19.4c-3.1,1.7-8.2,1.7-11.2,0l-34.1-19.4   c-3.1-1.7-5.6-6.1-5.6-9.7V24.5c0-3.5,2.9-6.5,6.5-6.5h77.6C112.3,18,115.3,20.9,115.3,24.5z M100.5,54.7H77.7v-23H62.4v23h-23V70   h23v22.9h15.3V70h22.9V54.7z"/>
                </g>
                </svg>
                
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{ $base := .Site.BaseURL }}
          {{ $currentNode := . }} {{ range .Site.Menus.main }} 
            {{ if .HasChildren }}
               <li class="navbaritems"><a class="dropdown-trigger customHighlight" href="#!" style="outline: none !important; text-transform:uppercase; text-decoration: underline; font-size:14px; font-weight:600" data-target="dropdown{{ .Name }}">{{.Name}}<i style="margin-left:0" class="material-icons right">arrow_drop_down</i></a></li>
                <ul id="dropdown{{.Name}}" style="color:inherit" class="dropdown-content" >
                    {{ range .Children }}
                        <li>
                            <a href="{{ .URL }}" class="grey-text" style="font-weight: 400; text-transform:uppercase; font-size:12px; letter-spacing: 1px;">
                                <i class="{{ .Pre }} tiny" style="margin-top: 0; padding: 0; height:10px; margin-right: 5px;" aria-hidden="true"> </i> {{ .Name }} </a>
    
                        </li>
                        <div class="divider"></div>
                    {{ end }}
                </ul>
                {{else}}
                <li class="navbaritems dropdownitems">
                    <a class="" style="" href="{{.URL }}">
                        <span>{{ .Name }}</span>
                    </a> 
                </li>

            {{ end }}
          {{end}}
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
        <ul class="collapsible">
  
          {{ $base := .Site.BaseURL }}
          {{ $currentNode := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
          <li>
              <div class="collapsible-header " style="padding-left: 32px;"><a class="grey-text text-darken-2 collapsible" href="#!" style="text-transform:uppercase; font-size:14px; font-weight:600" data-activates="dropdownsidenav{{.Name}}">{{.Name}}<i class="grey-text text-darken-3 material-icons right">arrow_drop_down</i></a></div>
              <div class="collapsible-body" >
                  {{ range .Children }}
                <a href="{{ .URL }}" class="grey-text" style="text-transform:uppercase; font-size:12px; font-weight:600">
                      <div style="padding-left: 20px; display:block;">
                        <i class="{{ .Pre }} tiny" style="margin-top: 0; margin-right: 10px; width:10px;" aria-hidden="true"> </i> {{ .Name }}  
                      </div>
                </a>
                  {{ end }}
                  </div>
          </li>
              {{else}}
                  <li>
                      <a class="grey-text text-darken-2" style="text-transform:uppercase; font-size:14px; font-weight:600" href="{{.URL }}">
                      <span>{{ .Name }}</span>
                  </a> 
                  </li>
              {{end}}
          {{ end }}
      </ul>
    </ul>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();

        $(".dropdown-trigger").dropdown({
    constrainWidth: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    coverTrigger: false, // Displays dropdown below the button
    alignment: 'left', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation

        });
        $('.sidenav').sidenav();
    });        
</script>
  