{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<div class="seemorediv" class="grey darken-1 seemorediv white-text" style="padding-left: 0; padding-top: 20px; padding-bottom: 20px; text-align: center">
    <div class="container" style="min-width: 75%">
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12">
                <div class="iconwrap">
                    <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                    </div>        
                </div>
                <h3 class="text-uppercase">{{ .Site.Params.see_more.title }}</h3>
                <p style="font-size: 20px;" class="lead">{{ .Site.Params.see_more.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.see_more.link_text }}</a>
                </p>
            </div>
    
        </div>
    </div>            
</div>
{{ end }}
{{ end }}
