<div class="siteintrodiv">
        <div class="container" style="z-index: 5; min-width: 75%;">
            <div class="row" class="z-depth-4">
                <div class="col s12" style="height: 100px;"></div>
                <div class="col s12 l8">
                    <h2 class="white-text" style="text-transform:uppercase; letter-spacing: 4px; font-weight:600; margin-top: 0px;">{{ .Title }} </h2>
                </div>

            </div>
        </div>
    </div>
    <script>

    $(document).ready(function() {
        $('.appnav').addClass('transparent');
    
        // Transition effect for navbar 
        $(window).scroll(function() {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if($(this).scrollTop() < 50) { 
                $('.appnav').addClass('transparent');
                $('.navbaritems').css({'color': "#ffffff", transition: "0.3s"})
                $('.st0').css({'fill':'#ffffff', transition: "0.3s"});
            } else {
                $('.appnav').removeClass('transparent');
                $('.navbaritems')
                $('.navbaritems').css({'color': "#454545", transition: "0.3s"})
                $('.st0').css({'fill': '#F59031', transition: "0.3s"});
            }
        });
    
        $("#discovermore").click(function() {
            $([document.documentElement, document.body]).animate({
                scrollTop: $(".homecarousel").offset().top -100
            }, 500);
        });
    });
    </script>