<div class="siteintrodiv">
    <div class="container" style="z-index: 5; min-width: 75%;">
        <div class="row" class="z-depth-4">
            <div class="col s12" style="height: 100px;"></div>
            <div class="col s12 l7">
                <h2 class="white-text" id="pagetitle" style="text-transform:uppercase; letter-spacing: 4px; font-weight:600; margin-top: 0px;"> {{ .Site.Params.siteslogan }} </h2>
            </div>
            <div class="col s12 l5" style="">
                <p style="text-transform:uppercase; padding: 10px; letter-spacing: 4px; font-weight:500; margin-top: 0px;">{{ .Site.Params.sitedesc }}</p>
                <a class="waves-effect waves-light btn-large orange" id="discovermore">Discover More</a>
            </div>
        </div>

    </div>
</div>
<script>
$(document).ready(function() {
    $('.appnav').addClass('transparent');

    // Transition effect for navbar 
    $(window).scroll(function() {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if($(this).scrollTop() < 30) { 
            $('.appnav').addClass('transparent');
            $('.navbaritems').css({'color': "#ffffff", transition: "0.3s"})
            $('.st0').css({'fill':'#ffffff', transition: "0.3s"});
        } else {
            $('.appnav').removeClass('transparent');
            $('.navbaritems')
            $('.navbaritems').css({'color': "#454545", transition: "0.3s"})
            $('.st0').css({'fill': '#F59031', transition: "0.3s"});
        }
    });

    $("#discovermore").click(function() {
        $([document.documentElement, document.body]).animate({
            scrollTop: $(".homecarousel").offset().top -100
        }, 500);
    });
});
</script>