<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
    <script>

    </script>
    {{ partial "nav.html" . }}
    {{ partial "siteintro.html" . }}
    {{ partial "carousel.html" . }}
    {{ partial "features.html" . }}
    {{ partial "see_more.html" . }}
    {{ partial "clients.html" . }}
    {{ partial "footer.html" . }}
</body>
</html>